<h2>Definições</h2>
<hr>
<div class="row">
    <div class="col-2">
        <div class="row">
           <a href="/backup"> <div class="col-6 m-1 text-center btn p-0 bg-light" >BACKUP</div></a>
           <a href="/restore"> <div class="col-6 m-1 text-center btn p-0 bg-light" >RESTORE</div></a>
        </div>
    </div>
    <div class="col-9 border-r">

    </div>
</div>