<footer class="container-fluid text-white mt-5 bg-dark" >
    <div class="row pt-3 pb-2">
        <section class="col-md-5 px-3" >
            <h5>Fotos</h5>
            <ul class="nav flex-column" >
                <li class="nav-item my-0" >
                    <a href="#" class="nav-link text-white" >Funcionários</a>
                </li>
                <li>
                    <a href="#" class="nav-link text-white" >Alunos</a>
                </li class="nav-item my-0" >
                <li class="nav-item my-0" >
                    <a href="#" class="nav-link text-white" >Noticias</a>
                </li>
            </ul>
        </section>
        <section class="col-md-5" >
            <h5>Contactos</h5>
            <ul class="nav flex-column">
                <li class="nav-item" ><a href="tel:+244111111111" class="nav-link text-white" >Tel: (+244) 930366434</a></li>
                <li class="nav-item" ><a href="https://wa.me/5524930366434" target="_blank" class="nav-link text-white" >WhatsApp: (+244) 930366434</a></li>
                
            </ul>
        </section>
        <section class="col-md-2" >
                <a href="#" class="nav-link text-white" >Voltar ao topo</a>
                <div class="mt-5">

                <span >Desenvolvido por: </span><br>
                <a href="#" class=" btn btn-dark text-white text-italic" >Engº Salomão Bango</a>
                </div>
                
        </section>
    </div>

</footer>