<h1 class="text-center fw-bold mark">ÁREA DE RECURSOS HUMANOS</h1>
<hr>
<div class="conteiner text-center">
    <div class="row mx-5">
        <div class="col-6 menu-item2 text-center p-4 h2 bg-info mx-1 ms-4 "><a href="funcionarios" class="text-light">FUNCIONÁRIOS</a></div>
        <div class="col-5 menu-item2 text-center p-4 h2 bg-warning mx-2 "><a href="#" class="text-light">EFECTIVIDADES</a></div>
    </div>
    <div class="row mx-5">
        <div class="col-6 menu-item2 text-center p-4 h2 bg-secondary mx-1 ms-4 "><a href="#" class="text-light">MAP. AV. DESEMPENHO</a></div>
        <div class="col-5 menu-item2 text-center p-4 h2 bg-primary mx-2 "><a href="#" class="text-light">RELATÓRIOS</a></div>
    </div>
</div>
