<h1> {{informacao.title}} </h1>
<hr>
<div class="container">
    <div class="row bg-light m-1 p-2">
        <div class="text-justify">
            {{informacao.text}}
        </div>
    </div>
        <div class="row">
            <img src="/uploads/{{informacao.capa}}" class="capa fotoAluno" alt="sem capa de noticia">
        </div>
</div>