<h1 class="text-center " >SECRETARIA GERAL</h1>
<hr>
<div class="conteiner">
    <div class="row ms-5">
        <div class="col-4 menu-item2 fw-bold text-light p-3 m-1 text-center h3 bg-warning "><a href="/secretaria/ocorrencias">Ocorrencias</a></div>
        <div class="col-3 menu-item2 fw-bold text-light p-3 m-1 text-center h3 bg-info "> <a href="/secretaria/gerirInformacoes" class="text-light"> Informações</div></a>
        <div class="col-4 menu-item2 fw-bold text-light p-3 m-1 text-center h3 bg-secondary "> <a href="/secretaria/servicos" class="text-light"> Serviços</div></a>
    </div>
    <hr>
    <div class="text-center">

    <a href="/secretaria/novasSolicitacoes" class="btn btn-sm btn-secondary">Novas solicitações ( <span> {{novasSolicitacoes.length}} </span> ) </a>
    </div>
</div>

