<h1 class="text-center">SECRETARIA GERAL</h1>
<hr class="my-0 p-1" >
<div class="container">
    <div class="row">
        <div class="col-6 bg-secondary text-light my-0 h3 p-2 fw-bold">
<a href="/secretaria" class="btn btn-warning text-light"> <button class="btn fw-bold btn-secondary text-light"> < </button> </a>
        Serviços oferecidos
        </div>
        <div class="col-6 text-end py-2 m-0 mark ">
        </div>
    </div>
</div>
<hr class="mb-1 mt-0 py-1">
<div class="container mt-3">
    <div class="row ms-0 mt-0">
        <div class="col-6 bg-secondary p-3 text-light m-1 text-center menu-item2 ">AQUISIÇÃO DE BATA</div>
        <div class="col-5 bg-secondary p-3 text-light m-1 text-center menu-item2">EMISSÃO DE CARTAO DE ESTUDANTE</div>
    </div>
    <div class="row ms-0 mt-0">
        <div class="col-6 bg-secondary p-3 text-light m-1 text-center menu-item2 ">COMPARTICIPAÇÃO U.N.E.A </div>
        <div class="col-5 bg-secondary p-3 text-light m-1 text-center menu-item2">COMPARTICIPAÇÃO DE ENCARREGADOR</div>
    </div>

    <div class="lead text-center mt-5"><span class="fw-bold text-danger">Atenção!</span><br>
    Os Serviços prestados pela instituição não são de fins lucrativos. Devem ser denunciados qualquer ação punivel pela lei.
    <br>
    No entanto os servicos acimas devem ser acompanhados pelos responsáveis da comunidade escolar e a comissão de pais e encarregados.
    </div>
</div>

