<div class="container principal">
    <div class="row mt-0">
    <div class="col-1 bg-info me-0">
        
    </div>
        <div class="col-11 mt-0">
             <img src="/img/imatest2.jpg" alt="imagem Principal">
            <figcaption>
                <div class="display-5 ms-5 p-5">
                    Liceu nº 290 REI NDUDUMA <br> CUITO/Angola<br>
                    <p></p>
                    <span>A opçao ideal para ingressares ao ensino superior em apenas 3 anos e com uma multipla
                        escolha de cursos em áreas sociais e tecnicas profissionais, você só encontra aqui!</span><br>
                    <a href="#" class="p-3 mybox">Saiba mais</a>
                </div>

                <div class="inscricao-aberta">
                    <div class="container">
                        <div class="row">
                            {{#if candidaturaAberta}}
                            <div class="col-7">
                                <span class="lead ">Inscrições Aberta! </span>

                            </div>
                            <div class="col-5 mx-5">
                                <a href="/candidatos/add" class="p-0 bg-none"><button
                                        class="btn btn-lg btn-warning ms-1">Inscreva-te</button></a>

                            </div>
                            {{else}}
                            {{/if}}
                        </div>
                    </div>
                </div>

            </figcaption>
        </div>
        
        
    </div>
</div>
<div class="row principal2">
    <div class="col-4 me-2 mt-5 ms-0 px-0 pt-5">
        <h3 class="fw-bold">Cursos</h3>
        <div class="cursos">
            Ministramos com profissionalismo e dedicação os cursos de ciências <a href="" class="fw-bold">fisicas
                biológica</a>, <a href="#" class="fw-bold">ciências humanas</a> e <a href="#"
                class="fw-bold">econômica-jurídicas</a>
        </div>

    </div>
    <div class="col-7 me-2 mt-5 ms-1 px-0 pt-5">
        <div class="container">
    <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
  <div class="carousel-indicators">
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1" aria-label="Slide 2"></button>
    <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2" aria-label="Slide 3"></button>
  </div>
  <div class="carousel-inner">
    <div class="carousel-item active altura">
      <img src="/img/f5.JPG" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Tecnologias de Informação</h5>
        <p>Procuramos crescer a medida que as Tecnologias de informação avançam</p>
      </div>
    </div>
    <div class="carousel-item altura">
      <img src="/img/f4.JPG" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Dominar as TICs</h5>
        <p>Procuramos crescer a medida que as Tecnologias de informação avançam</p>

      </div>
    </div>
    <div class="carousel-item altura">
      <img src="/img/f13.JPG" class="d-block w-100" alt="...">
      <div class="carousel-caption d-none d-md-block">
        <h5>Saúde físia</h5>
        <p>Apostamos em actividades físicas que contribuam na saúde de nossos alunos.</p>
      </div>
    </div>
  </div>
  <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Previous</span>
  </button>
  <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="visually-hidden">Next</span>
  </button>
</div>

    </div>
</div>

<di>
</div>