<h1 class="text-center fw-bold mark">ÁREA DE FINANÇAS</h1>
<hr>
<div class="conteiner text-center mb-5 pb-5">
    <div class="row mx-5">
        <div class="col-6 menu-item2 text-center p-4 h2 mybg-secondary mx-1 ms-4 "><a href="/financas/receitas" class="text-light">RECEITAS</a></div>
        <div class="col-5 menu-item2 text-center p-4 h2 mybg-warning mx-2 "><a href="/financas/despesas" class="text-light">DESPESAS</a></div>
    </div>
    <div class="row mx-5 pb-5">
        <div class="col-6 menu-item2 text-center p-4 h2 bg-secondary mx-1 ms-4 "><a href="/financas/resumo" class="text-light">RESUMO FINANCEIRO</a></div>
        <div class="col-5 menu-item2 text-center p-4 h2 bg-info mx-2 "><a href="/financas/relatorios" class="text-light">RELATÓRIOS</a></div>
    </div>
</div>
