<h2 class="text-center mark" > R E S U M O</h2>
<hr>
<div class="container">
    <div class="row">
        <div class="col-6 display-3">RECEITAS</div>
        <div class="col-6 text-end display-1"> {{totalRe}} </div>
    </div>
    <hr>
    <div class="row">
        <div class="col-6 display-3">DESPESAS</div>
        <div class="col-6 text-end display-1"> {{totalDe}} </div>
    </div>
    <hr>
    <div class="row text-secondary">
        <div class="col-6 display-3">SALDO</div>
        <div class="col-6 text-end display-1"> {{saldo}} </div>
    </div>
    <hr>
</div>