<div class="row">
    <div class="col-6">
<h2>ÁREA PEDAGÓGICA</h2>

    </div>
    <div class="col-5 text-end me-2">
            <a class="btn btn-warning" href="/pedagogico/matricular" >Matricular</a>
    </div>
</div>
<hr>
<div class="conteiner">
    <div class="row">
        <div class="col-4 menu-item2 text-center p-4 h2 bg-secondary mx-1 ms-4 "><a href="/pedagogico/minipautas" class="text-light">Minipautas</a></div>
        <div class="col-3 menu-item2 text-center p-4 h2  mx-2 "><a href="pedagogico/pautas" class="text-light"></a></div>
        <div class="col-4 menu-item2 text-center p-4 h2 bg-secondary mx-1 "><a href="/pedagogico/pautas" class="text-light">Pautas</a></div>
    </div>
</div>
<hr>
<div class="conteiner">
    <div class="row">
        <div class="col-4 menu-item2 text-center p-4 h2 bg-secondary mx-1 ms-4 "><a href="/pedagogico/alunos" class="text-light">Alunos</a></div>
        <div class="col-3 menu-item2 text-center p-4 h2 bg-secondary mx-2 "><a href="/pedagogico/turmas" class="text-light">Turmas</a></div>
        <div class="col-4 menu-item2 text-center p-4 h2 bg-secondary mx-1 "><a href="pedagogico/classes" class="text-light">Classes</a></div>
    </div>
</div>
<hr>
<div class="conteiner">
    <div class="row">
        <div class="col-4 menu-item2 text-center p-4 h2 bg-secondary mx-1 ms-4 "><a href="/pedagogico/cursos" class="text-light">Cursos</a></div>
        <div class="col-3 menu-item2 text-center p-4 h2 bg-secondary mx-2 "><a href="#" class="text-light">Professores</a></div>
        <div class="col-4 menu-item2 text-center p-4 h2 bg-secondary mx-1 "><a href="/candidatos" class="text-light">Candidatos</a></div>
        {{!-- <div class="col-4 menu-item2 text-center p-4 h2 bg-secondary mx-1 "><a href="#" class="text-light">Carga horária</a></div> --}}
    </div>
</div>
<hr>
<div class="conteiner">
    <div class="row">
        {{!-- <div class="col-4 menu-item2 text-center p-4 h2 bg-secondary mx-1 ms-4 "><a href="#" class="text-light">Horário</a></div> --}}
        <div class="col-4 menu-item2 text-center p-4 h2 bg-secondary mx-1 ms-4 "><a href="#" class="text-light">Horário</a></div>
        <div class="col-3 menu-item2 text-center p-4 h2  mx-2 "><a href="#" class="text-light"></a></div>
        <div class="col-4 menu-item2 text-center p-4 h2 bg-secondary mx-1 "><a href="/pedagogico/pedidos" class="text-light">Pedidos (<span class="lead h2" >{{pedDeclaracao.length}}</span>)</a></div>
    </div>
</div>
<hr>
